<div class="footer">
    <div class="footer1">
        <p>Our office is situated at 1234 Innovation Drive, Suite 567, Tech City, CA 91011. This prime location
            offers easy access to major highways and public transport. Surrounded by numerous restaurants, cafes,
            and green spaces, it provides a vibrant atmosphere conducive to creativity and collaboration for our
            team and visitors.</p>
        <div class="footerlogo">
            <img src="assets/images/facebook.png" alt="">
            <img src="assets/images/instagram.png" alt="">
            <img src="assets/images/linkedin.png" alt="">
            <img src="assets/images/twitter.png" alt="">

        </div>
    </div>
    <div class="footer2">
        <h4>Python</h4>
        <ul>
            <li>Company Overview</li>
            <li>Mission Statement</li>
            <li>History</li>
            <li>Values</li>
            <li>Leadership Team</li>
            <li>Locations</li>
            <li>Milestones</li>
            <li>Corporate Social Responsibility</li>
            <li>Partnerships</li>
            <li>Careers</li>
        </ul>
        <h4>C++</h4>
        <ul>
            <li>Data Science</li>
            <li>Web Development</li>
            <li>Machine Learning</li>
            <li>Scripting</li>
            <li>Automation</li>
            <li>Data Analysis</li>
            <li>Artificial Intelligence</li>
            <li>Game Development</li>
        </ul>

    </div>
    <div class="footer3">
        <h4>Java</h4>
        <ul>
            <li>Front-End Development</li>
            <li>Node.js</li>
            <li>Frameworks (React, Angular)</li>
            <li>Asynchronous Programming</li>
            <li>Web APIs</li>
            <li>Event Handling</li>
            <li>Progressive Web Apps</li>
            <li>Single Page Applications</li>
        </ul>
        <h4>Ruby</h4>


        <ul>
            <li>Enterprise Applications</li>
            <li>Android Development</li>
            <li>Spring Framework</li>
            <li>Object-Oriented Programming</li>
            <li>Web Services</li>
            <li>Microservices</li>
            <li>Java Virtual Machine (JVM)</li>
            <li>Design Patterns</li>
        </ul>
    </div>
    <div class="footer4">
        <h4>Script</h4>
        <ul>
            <li>Game Development</li>
            <li>System Programming</li>
            <li>Performance Optimization</li>
            <li>Object-Oriented Programming</li>
            <li>Real-Time Systems</li>
            <li>Embedded Systems</li>
            <li>Standard Template Library (STL)</li>
            <li>Multi-threading</li>
        </ul>

        <h4>Go</h4>

        <ul>
            <li>Web Development (Ruby on Rails)</li>
            <li>Scripting</li>
            <li>Metaprogramming</li>
            <li>Test-Driven Development</li>
            <li>Data Processing</li>
            <li>APIs and Web Services</li>
            <li>DevOps Tools</li>
            <li>Game Development</li>
        </ul>
    </div>
    <div class="footer5">
        <h4>Swift</h4>
        <ul>
            <li>Web Development</li>
            <li>Server-Side Scripting</li>
            <li>Content Management Systems (CMS)</li>
            <li>Database Interaction</li>
            <li>RESTful APIs</li>
            <li>Frameworks (Laravel, Symfony)</li>
            <li>Session Management</li>
            <li>Security Best Practices</li>
        </ul>
        <h4>Kotlin</h4>

        <ul>
            <li>Systems Programming</li>
            <li>Memory Safety</li>
            <li>Concurrency</li>
            <li>WebAssembly</li>
            <li>Embedded Programming</li>
            <li>Command-Line Applications</li>
            <li>Asynchronous Programming</li>
            <li>Data Analysis</li>
        </ul>
    </div>
    <div class="footer6">
        <h4>PHP</h4>
        <ul>
            <li>iOS Development</li>
            <li>macOS Applications</li>
            <li>Safety and Performance</li>
            <li>Protocol-Oriented Programming</li>
            <li>SwiftUI</li>
            <li>Core Data</li>
            <li>Combine Framework</li>
            <li>App Extensions</li>
        </ul>
        <h4>Rust</h4>

        <ul>
            <li>Android Development</li>
            <li>Java Interoperability</li>
            <li>Coroutines</li>
            <li>Functional Programming</li>
            <li>Data Classes</li>
            <li>Extension Functions</li>
            <li>Kotlin DSL</li>
            <li>Multi-platform Development</li>
        </ul>
    </div>

    <div class="footer7">
        <h4>Java</h4>
        <ul>
            <li>Front-End Development</li>
            <li>Node.js</li>
            <li>Frameworks (React, Angular)</li>
            <li>Asynchronous Programming</li>
            <li>Web APIs</li>
            <li>Event Handling</li>
            <li>Progressive Web Apps</li>
            <li>Single Page Applications</li>
        </ul>
        <h4>Ruby</h4>


        <ul>
            <li>Enterprise Applications</li>
            <li>Android Development</li>
            <li>Spring Framework</li>
            <li>Object-Oriented Programming</li>
            <li>Web Services</li>
            <li>Microservices</li>
            <li>Java Virtual Machine (JVM)</li>
            <li>Design Patterns</li>
        </ul>
    </div>
</div>
