<h6>Top Courses</h6>
<div class="card-container">
    <div class="card">
        <div class="card-img" style="background: linear-gradient(to right, rgb(173, 216, 230), rgb(0, 0, 139));">
            <h4>{{card1.title}}</h4>
            <div class="rating">
                <img src="assets/images/star.png">
                <p>{{card1.rating}}</p>
            </div>
        </div>
        <h4>{{card1.title_des}}</h4>
        <p>{{card1.level}}</p>
        <p>{{card1.interest}}</p>
        <div class="buttondiv">{{card1.buttondetails}}</div>
    </div>

    <div class="card">
        <div class="card-img" style="background: linear-gradient(to right, rgb(144, 238, 144), rgb(0, 100, 0));">

            <h4>{{card2.title}}</h4>
            <div class="rating">
                <img src="assets/images/star.png">
                <p>{{card2.rating}}</p>
            </div>
        </div>
        <h4>{{card2.title_des}}</h4>
        <p>{{card2.level}}</p>
        <p>{{card2.interest}}</p>
        <div class="buttondiv">{{card2.buttondetails}}</div>
    </div>

    <div class="card">
        <div class="card-img" style="background: linear-gradient(to right, rgb(221, 160, 221), rgb(128, 0, 128));"
        >
            <h4>{{card3.title}}</h4>
            <div class="rating">
                <img src="assets/images/star.png">
                <p>{{card3.rating}}</p>
            </div>
        </div>
        <h4>{{card3.title_des}}</h4>
        <p>{{card3.level}}</p>
        <p>{{card3.interest}}</p>
        <div class="buttondiv">{{card3.buttondetails}}</div>
    </div>
    <div class="card">
        <div class="card-img" style="background: linear-gradient(to right, rgb(255, 204, 153), rgb(255, 140, 0));"
        >
            <h4>{{card4.title}}</h4>
            <div class="rating">
                <img src="assets/images/star.png">
                <p>{{card4.rating}}</p>
            </div>
        </div>
        <h4>{{card4.title_des}}</h4>
        <p>{{card4.level}}</p>
        <p>{{card4.interest}}</p>
        <div class="buttondiv">{{card4.buttondetails}}</div>
    </div>
    <div class="card">
        <div class="card-img" style="background: linear-gradient(to right, rgb(255, 182, 193), rgb(139, 0, 0));"
        >
            <h4>{{card5.title}}</h4>
            <div class="rating">
                <img src="assets/images/star.png">
                <p>{{card5.rating}}</p>
            </div>
        </div>
        <h4>{{card5.title_des}}</h4>
        <p>{{card5.level}}</p>
        <p>{{card5.interest}}</p>
        <div class="buttondiv">{{card5.buttondetails}}</div>
    </div>
    <div class="card">
        <div class="card-img" style=" background:linear-gradient(to right,rgb(245, 241, 43),rgb(161, 159, 23));">
            <h4>{{card6.title}}</h4>
            <div class="rating">
                <img src="assets/images/star.png">
                <p>{{card6.rating}}</p>
            </div>
        </div>
        <h4>{{card6.title_des}}</h4>
        <p>{{card6.level}}</p>
        <p>{{card6.interest}}</p>
        <div class="buttondiv">{{card6.buttondetails}}</div>
    </div>
    
</div>

