<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="navbar.component.css">
</head>
<body >
    <div class="nav-container" [ngClass]="{'darktheme':true}">
        <ul class="list">
            <a href="#">
                <li>Courses</li>
            </a>
            <img src="assets\images\down.png" alt="">
            <a href="#">
                <li>Tutorials</li>
            </a>
            <img src="assets\images\down.png" alt="">
            <a href="#">
                <li>Jobs</li>
            </a>
            <img src="assets\images\down.png" alt="">
            <a href="#">
                <li>Pratices</li>
            </a>
            <img src="assets\images\down.png" alt="">
            <a href="#">
                <li>Contests</li>
            </a>
            <img src="assets\images\down.png" alt="">
        </ul>

        <div class="brand-logo">
            <img src="assets\images\geekslogo.png">
        </div>
        <div class="icon-container">
            <a [routerLink]="['search']"><img src="assets\images\searchlogo.png" alt="seach"></a>
            <a href="" (click)="darktheme()" ><img src="assets\images\moon.png" alt="moon" id="moon"></a>
            <img src="assets\images\notification-bell.png" alt="bell">
            <img src="assets\images\translate.png" alt="translate">
            <a [routerLink]="['signin']"><button>Sign In</button></a>
        </div>
    </div>
   
</body>
</html>