<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="navbar.component.css">
</head>
<body>
    <div class="nav-container">
        
            <ul class="list">
                <a href="#">
                    <li>Courses</li>
                </a>
                <img src="assets\images\down.png" alt="">
                <a href="#">
                    <li>Tutorials</li>
                </a>
                <img src="assets\images\down.png" alt="">
                <a href="#">
                    <li>Jobs</li>
                </a>
                <img src="assets\images\down.png" alt="">
                <a href="#">
                    <li>Pratices</li>
                </a>
                <img src="assets\images\down.png" alt="">
                <a href="#">
                    <li>Contests</li>
                </a>
                <img src="assets\images\down.png" alt="">
            </ul>

            <div class="brand-logo">
                <img src="assets\images\geekslogo.png">
            </div>



            <div class="icon-container">
                <img src="assets\images\searchlogo.png" alt="seach">
                <img src="assets\images\moon.png" alt="moon">
                <img src="assets\images\notification-bell.png" alt="bell">
                <img src="assets\images\translate.png" alt="translate">
                <button>Sign In</button>
            </div> 
    </div>
    <div class="roller-container">
    <img src="assets\images\left-arrow.png" alt="">
    <div class="roller">
        
        <p>Curriculum</p>
        <p>Syllabus</p>
        <p>Pedagogy</p>
        <p>Assessment</p>
        <p>Blended </p>
        <p>MOOC</p>
        <p>LMS</p>
        <p>Syntax</p>
        <p>Semantics</p>
        <p>Data_Types</p>
        <p>Functional_Programming</p>
        <p>Framework</p>
        <p>API</p>
        <p>Version_Control</p>
        <p>Library</p>
        <p>Algorithm</p>
        <p>Accreditation</p>
        <p>E_learning</p>
        <p>Compiler</p>
        <p>Runtime_Environment</p>
        
    </div>
    <img src="assets\images\right-arrow.png" alt="">

</div>
<div class="main-content">
    <h1>Hello,What do you want to learn?</h1>
    <div class="input-text">
        <p>How can I help you?</p>
        <img src="/assets/images/searchlogo.png" alt="">
    </div>
    <div class="button-group">
        <button>Master DS & ML</button>
        <button>DSA:Basic To Advanced Course</button>
        <button>Full Stack Live Classes</button>
    </div>
</div>

<div class="card-container">
    <div class="card">
        <div class="card-img">
            <h4>DSA to <br>Development</h4>
        </div>
        <h4>DSA to Development:A Complete Guide</h4>
        <p>Beginner to Advance</p>
        <p>385k+interested Geeks</p>
        <div class="buttondiv">Claim 35%Off Instantly</div>
    </div>

    <div class="card">
        <div class="card-img">
            <h4>DSA to <br>Development</h4>
        </div>
        <h4>DSA to Development:A Complete Guide</h4>
        <p>Beginner to Advance</p>
        <p>385k+interested Geeks</p>
        <div class="buttondiv">Claim 35%Off Instantly</div>
    </div>

    <div class="card">
        <div class="card-img">
            <h4>DSA to <br>Development</h4>
        </div>
        <h4>DSA to Development:A Complete Guide</h4>
        <p>Beginner to Advance</p>
        <p>385k+interested Geeks</p>
        <div class="buttondiv">Claim 35%Off Instantly</div>
    </div>

    <div class="card">
        <div class="card-img">
            <h4>DSA to <br>Development</h4>
        </div>
        <h4>DSA to Development:A Complete Guide</h4>
        <p>Beginner to Advance</p>
        <p>385k+interested Geeks</p>
        <div class="buttondiv">Claim 35%Off Instantly</div>
    </div><div class="card">
        <div class="card-img">
            <h4>DSA to <br>Development</h4>
        </div>
        <h4>DSA to Development:A Complete Guide</h4>
        <p>Beginner to Advance</p>
        <p>385k+interested Geeks</p>
        <div class="buttondiv">Claim 35%Off Instantly</div>
    </div>

    <div class="card">
        <div class="card-img">
            <h4>DSA to <br>Development</h4>
        </div>
        <h4>DSA to Development:A Complete Guide</h4>
        <p>Beginner to Advance</p>
        <p>385k+interested Geeks</p>
        <div class="buttondiv">Claim 35%Off Instantly</div>
    </div>

    <div class="card">
        <div class="card-img">
            <h4>DSA to <br>Development</h4>
        </div>
        <h4>DSA to Development:A Complete Guide</h4>
        <p>Beginner to Advance</p>
        <p>385k+interested Geeks</p>
        <div class="buttondiv">Claim 35%Off Instantly</div>
    </div>

    <div class="card">
        <div class="card-img">
            <h4>DSA to <br>Development</h4>
        </div>
        <h4>DSA to Development:A Complete Guide</h4>
        <p>Beginner to Advance</p>
        <p>385k+interested Geeks</p>
        <div class="buttondiv">Claim 35%Off Instantly</div>
    </div>
</div>
</body>

</html>