<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="navbar.component.css">
</head>

<body>
    <div class="nav-container">

        <ul class="list">
            <a href="#">
                <li>Courses</li>
            </a>
            <img src="assets\images\down.png" alt="">
            <a href="#">
                <li>Tutorials</li>
            </a>
            <img src="assets\images\down.png" alt="">
            <a href="#">
                <li>Jobs</li>
            </a>
            <img src="assets\images\down.png" alt="">
            <a href="#">
                <li>Pratices</li>
            </a>
            <img src="assets\images\down.png" alt="">
            <a href="#">
                <li>Contests</li>
            </a>
            <img src="assets\images\down.png" alt="">
        </ul>

        <div class="brand-logo">
            <img src="assets\images\geekslogo.png">
        </div>



        <div class="icon-container">
            <img src="assets\images\searchlogo.png" alt="seach">
            <img src="assets\images\moon.png" alt="moon">
            <img src="assets\images\notification-bell.png" alt="bell">
            <img src="assets\images\translate.png" alt="translate">
            <button>Sign In</button>
        </div>
    </div>
    <div class="roller-container">
        <img src="assets\images\left-arrow.png" alt="">
        <div class="roller">

            <p>Curriculum</p>
            <p>Syllabus</p>
            <p>Pedagogy</p>
            <p>Assessment</p>
            <p>Blended </p>
            <p>MOOC</p>
            <p>LMS</p>
            <p>Syntax</p>
            <p>Semantics</p>
            <p>Data_Types</p>
            <p>Functional_Programming</p>
            <p>Framework</p>
            <p>API</p>
            <p>Version_Control</p>
            <p>Library</p>
            <p>Algorithm</p>
            <p>Accreditation</p>
            <p>E_learning</p>
            <p>Compiler</p>
            <p>Runtime_Environment</p>

        </div>
        <img src="assets\images\right-arrow.png" alt="">

    </div>
    <div class="main-content">
        <h1>Hello,What do you want to learn?</h1>
        <div class="input-text">
            <p>How can I help you?</p>
            <img src="/assets/images/searchlogo.png" alt="">
        </div>
        <div class="button-group">
            <button>Master DS & ML</button>
            <button>DSA:Basic To Advanced Course</button>
            <button>Full Stack Live Classes</button>
        </div>
    </div>

    <div class="card-container">
        <div class="card">
            <div class="card-img" style=" background:linear-gradient(to right,rgb(245, 241, 43),rgb(161, 159, 23));">
                <h4>DSA to <br>Development</h4>
                <div class="rating">
                    <img src="assets/images/star.png">
                    <p>4.5</p>
                </div>
            </div>
            <h4>DSA to Development:A Complete Guide</h4>

            <p>Beginner to Advance</p>
            <p>385k+interested Geeks</p>
            <div class="buttondiv">Claim 35%Off Instantly</div>
        </div>

        <div class="card">
            <div class="card-img" style=" background:linear-gradient(to right,rgb(250, 155, 126),rgb(173, 55, 19));">
                <h4>DSA to <br>Development</h4>
                <div class="rating">
                    <img src="assets/images/star.png">
                    <p>4.5</p>
                </div>
            </div>
            <h4>DSA to Development:A Complete Guide</h4>
            <p>Beginner to Advance</p>
            <p>385k+interested Geeks</p>
            <div class="buttondiv">Claim 35%Off Instantly</div>
        </div>

        <div class="card">
            <div class="card-img" style=" background:linear-gradient(to right,rgb(156, 33, 194),rgb(72, 11, 87));">
                <h4>DSA to <br>Development</h4>
                <div class="rating">
                    <img src="assets/images/star.png">
                    <p>4.5</p>
                </div>
            </div>
            <h4>DSA to Development:A Complete Guide</h4>
            <p>Beginner to Advance</p>
            <p>385k+interested Geeks</p>
            <div class="buttondiv">Claim 35%Off Instantly</div>
        </div>

        <div class="card">
            <div class="card-img" style=" background:linear-gradient(to right,rgb(176, 65, 143),rgb(131, 36, 118));">
                <h4>DSA to <br>Development</h4>
                <div class="rating">
                    <img src="assets/images/star.png">
                    <p>4.5</p>
                </div>
            </div>
            <h4>DSA to Development:A Complete Guide</h4>
            <p>Beginner to Advance</p>
            <p>385k+interested Geeks</p>
            <div class="buttondiv">Claim 35%Off Instantly</div>

        </div>

        <div class="card">
            <div class="card-img" style=" background:linear-gradient(to right,rgb(65, 117, 176),rgb(24, 59, 78));">
                <h4>DSA to <br>Development</h4>
                <div class="rating">
                    <img src="assets/images/star.png">
                    <p>4.5</p>
                </div>
            </div>
            <h4>DSA to Development:A Complete Guide</h4>
            <p>Beginner to Advance</p>
            <p>385k+interested Geeks</p>
            <div class="buttondiv">Claim 35%Off Instantly</div>
        </div>

        <div class="card">
            <div class="card-img" style=" background:linear-gradient(to right,rgb(65, 176, 110),rgb(37, 87, 56));">
                <h4>DSA to <br>Development</h4>
                <div class="rating">
                    <img src="assets/images/star.png">
                    <p>4.5</p>
                </div>
            </div>
            <h4>DSA to Development:A Complete Guide</h4>
            <p>Beginner to Advance</p>
            <p>385k+interested Geeks</p>
            <div class="buttondiv">Claim 35%Off Instantly</div>
        </div>
    </div>




    <hr>
    <div class="footer">
        <div class="footer1">
            <p>Our office is situated at 1234 Innovation Drive, Suite 567, Tech City, CA 91011. This prime location
                offers easy access to major highways and public transport. Surrounded by numerous restaurants, cafes,
                and green spaces, it provides a vibrant atmosphere conducive to creativity and collaboration for our
                team and visitors.</p>
            <div class="footerlogo">
                <img src="assets/images/facebook.png" alt="">
                <img src="assets/images/instagram.png" alt="">
                <img src="assets/images/linkedin.png" alt="">
                <img src="assets/images/twitter.png" alt="">

            </div>
        </div>
        <div class="footer2">
            <h4>Python</h4>
            <ul>
                <li>Company Overview</li>
                <li>Mission Statement</li>
                <li>History</li>
                <li>Values</li>
                <li>Leadership Team</li>
                <li>Locations</li>
                <li>Milestones</li>
                <li>Corporate Social Responsibility</li>
                <li>Partnerships</li>
                <li>Careers</li>
            </ul>
            <h4>C++</h4>
            <ul>
                <li>Data Science</li>
                <li>Web Development</li>
                <li>Machine Learning</li>
                <li>Scripting</li>
                <li>Automation</li>
                <li>Data Analysis</li>
                <li>Artificial Intelligence</li>
                <li>Game Development</li>
            </ul>

        </div>
        <div class="footer3">
            <h4>Java</h4>
            <ul>
                <li>Front-End Development</li>
                <li>Node.js</li>
                <li>Frameworks (React, Angular)</li>
                <li>Asynchronous Programming</li>
                <li>Web APIs</li>
                <li>Event Handling</li>
                <li>Progressive Web Apps</li>
                <li>Single Page Applications</li>
            </ul>
            <h4>Ruby</h4>


            <ul>
                <li>Enterprise Applications</li>
                <li>Android Development</li>
                <li>Spring Framework</li>
                <li>Object-Oriented Programming</li>
                <li>Web Services</li>
                <li>Microservices</li>
                <li>Java Virtual Machine (JVM)</li>
                <li>Design Patterns</li>
            </ul>
        </div>
        <div class="footer4">
            <h4>Script</h4>
            <ul>
                <li>Game Development</li>
                <li>System Programming</li>
                <li>Performance Optimization</li>
                <li>Object-Oriented Programming</li>
                <li>Real-Time Systems</li>
                <li>Embedded Systems</li>
                <li>Standard Template Library (STL)</li>
                <li>Multi-threading</li>
            </ul>

            <h4>Go</h4>

            <ul>
                <li>Web Development (Ruby on Rails)</li>
                <li>Scripting</li>
                <li>Metaprogramming</li>
                <li>Test-Driven Development</li>
                <li>Data Processing</li>
                <li>APIs and Web Services</li>
                <li>DevOps Tools</li>
                <li>Game Development</li>
            </ul>
        </div>
        <div class="footer5">
            <h4>Swift</h4>
            <ul>
                <li>Web Development</li>
                <li>Server-Side Scripting</li>
                <li>Content Management Systems (CMS)</li>
                <li>Database Interaction</li>
                <li>RESTful APIs</li>
                <li>Frameworks (Laravel, Symfony)</li>
                <li>Session Management</li>
                <li>Security Best Practices</li>
            </ul>
            <h4>Kotlin</h4>

            <ul>
                <li>Systems Programming</li>
                <li>Memory Safety</li>
                <li>Concurrency</li>
                <li>WebAssembly</li>
                <li>Embedded Programming</li>
                <li>Command-Line Applications</li>
                <li>Asynchronous Programming</li>
                <li>Data Analysis</li>
            </ul>
        </div>
        <div class="footer6">
            <h4>PHP</h4>
            <ul>
                <li>iOS Development</li>
                <li>macOS Applications</li>
                <li>Safety and Performance</li>
                <li>Protocol-Oriented Programming</li>
                <li>SwiftUI</li>
                <li>Core Data</li>
                <li>Combine Framework</li>
                <li>App Extensions</li>
            </ul>
            <h4>Rust</h4>

            <ul>
                <li>Android Development</li>
                <li>Java Interoperability</li>
                <li>Coroutines</li>
                <li>Functional Programming</li>
                <li>Data Classes</li>
                <li>Extension Functions</li>
                <li>Kotlin DSL</li>
                <li>Multi-platform Development</li>
            </ul>
        </div>

        <div class="footer7">
            <h4>Java</h4>
            <ul>
                <li>Front-End Development</li>
                <li>Node.js</li>
                <li>Frameworks (React, Angular)</li>
                <li>Asynchronous Programming</li>
                <li>Web APIs</li>
                <li>Event Handling</li>
                <li>Progressive Web Apps</li>
                <li>Single Page Applications</li>
            </ul>
            <h4>Ruby</h4>


            <ul>
                <li>Enterprise Applications</li>
                <li>Android Development</li>
                <li>Spring Framework</li>
                <li>Object-Oriented Programming</li>
                <li>Web Services</li>
                <li>Microservices</li>
                <li>Java Virtual Machine (JVM)</li>
                <li>Design Patterns</li>
            </ul>
        </div>
    </div>
</body>

</html>