<div class="subscription-quartely">
    <div class="benefit">
        <img src="assets/images/checked.png" alt="tick">
        <p>Premium Course Access</p>
    </div>
    <div class="benefit">
        <img src="assets/images/checked.png" alt="">
        <p>Interview Preparation Resources</p>
    </div>
    <div class="benefit">
        <img src="assets/images/checked.png" alt="">
        <p>Coding Challenges and Contests</p>
    </div>
    <div class="benefit">
        <img src="assets/images/checked.png" alt="">
        <p>Expert Tutorials and Guides</p>
    </div>
    <div class="benefit">
        <img src="assets/images/cancel.png" alt="">
        <p>Job Placement Assistance</p>
    </div>
    <div class="benefit">
        <img src="assets/images/cancel.png" alt="">
        <p>Community Forum Participation</p>
    </div>
    <button (click)="subscribe()">Get Subscription/quartely</button>
</div>
