table{
    border: 1px solid rgb(216, 216, 216);
    border-collapse: collapse;
    font-size: 22px;
    width: 100%;
    text-align: center;
    
}
th{
    background-color: rgb(146, 146, 146);
    color: white;
}
td,th{
    border: 1px solid  rgb(216, 216, 216);   
}
.container-main{
    border: 1px solid rgb(233, 233, 233);
    padding: 10px;
}
.container{
    display: flex;
    align-items: center;
    margin-top: 10px;
    row-gap: 20px;
    
}

input{
    border: 1px solid black;
    width: 150px;
    height: 30px;
    margin: 20px;
}
.yes{
    border: 1px solid green;
    border-radius: 10px;
    height: auto;
    width: auto;
    color: green;
    padding: 10px ;
    margin: 5px;
    font-size: 16px;
}
.yes:hover{
    background-color: green;
    color: white;
    margin: 5px;
}

.proceed{
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    color: black;
    padding: 10px;
    margin: 10px;
}
.proceed:hover{
    background-color:black;
    color: white;
    margin: 10px;
}

.display{
    background-color: rgb(224, 224, 224);
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
}   