<app-navbar></app-navbar>
<h2>LIST OF PRODUCTS AVAILABLE:</h2>
<div class="table">
 <table>
   <tr>
   <th>S.NO</th>
   <th>PRODUCTS</th>
   <th>PRODUCT ID</th>
   <th>PRICE</th>
   <th>DISCOUNT</th>
 </tr>
 <tr *ngFor="let item of calculator.product ;let i=index">
   <td>{{i+1}}</td>
   <td>{{calculator.product[i].productname}}</td>
   <td>{{calculator.product[i].productid}}</td>
   <td>{{calculator.product[i].productprice}}</td>
   <td>{{calculator.product[i].productdiscount}}</td>
 </tr>
 </table>
</div>


<h2>CALCULATOR:</h2>
<div class="calculatorcontainer">
    <label for="input">ITEM ID:
        <input type="text" placeholder="enter the item id" [(ngModel)]="calculator.Itemid">
    </label>
    <label for="input">QUANTITY:
        <input type="number" placeholder="enter the item quantity" [(ngModel)]="calculator.ItemQuantity">
    </label>
    <button (click)="calculator.addmoreitems()" class="addmoreitems">Add more Items</button>
    <button class="proceed" (click)="calculator.proceed()">Proceed</button>
</div>

<div *ngIf="calculator.addmoreitem==true">
  <h2>Items added to cart</h2>
<div class="displayitems" *ngFor="let item of calculator.itemiddetails; let i=index">
    <p>(Item Id) {{calculator.itemiddetails[i]}} x (Item Quantity) {{calculator.itemquantitydetails[i]}}=(Total Price) {{calculator.itemtotaldetails[i]}}</p>
</div>
</div>

<div *ngIf="calculator.boolvalue==true">
<h2>Bill Preview:</h2>
<div class="submitdetails"   >
    <h2>PREVIEW</h2>
  <div *ngFor="let item of calculator.itemiddetails;let i=index" >
    <p>Item Id:{{calculator.itemiddetails[i]}} Item Quantity:{{calculator.itemquantitydetails[i]}}</p>  
  </div>
  <p>Total Amount:{{calculator.Totalvalue}}</p>
  <a  routerLink="/bill"><button class="pay" >PAY</button></a>
</div>

</div>