<h2>CALCULATOR:</h2>
<div class="calculatorcontainer">
    <label for="input">ITEM ID:
        <input type="text" placeholder="enter the item id" [(ngModel)]="Itemid">
    </label>
    <label for="input">QUANTITY:
        <input type="number" placeholder="enter the item quantity" [(ngModel)]="ItemQuantity">
    </label>
    <button (click)="addmoreitems()" class="addmoreitems">Add more Items</button>
    <a routerLink="submit"><button class="proceed" (click)="submit()">Proceed</button></a>
</div>