<div>
    <h2>Upload Files</h2>
    <input type="file" (change)="onFileSelected($event)" multiple />
  </div>
  
  <div *ngIf="uploadedFiles.length > 0">
    <h3>Uploaded Files:</h3>
    <div *ngFor="let file of uploadedFiles">
      <div>
        <p><strong>Name:</strong> {{ file.name }}</p>
        <p><strong>Type:</strong> {{ file.type }}</p>
        
        <!-- Display images -->
        <div *ngIf="file.type.startsWith('image/')">
          <img [src]="file.data" alt="Uploaded Image" width="200" />
        </div>
  
        <!-- Display PDFs -->
        <div *ngIf="file.type === 'application/pdf'">
          <iframe [src]="file.data | safe" width="100%" height="500px"></iframe>
        </div>
  
        <!-- Display plain text files -->
        <div *ngIf="file.type === 'text/plain'">
          <pre>{{ file.data }}</pre>
        </div>
      </div>
    </div>
  </div>
  