.body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.subscription-plan{
    display: flex;
    flex-direction: row;   
    justify-content: space-evenly;
    margin: 40px; 
}
h6{
    font-size: 50px;
    margin-left: 52px;
    margin-bottom: 0;
    margin-top: 0;
}       







