

.display{
    background-color: rgb(224, 224, 224);
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
}

.pay{
    padding: 15px;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    background-color:white;
    
}
.pay:hover{
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:black;
    color: white;
    
}

#submit:hover{
        padding: 20px;
        background-color: black;
        color: white;
        border: 1px solid black;

}

.submitdetailsif{
    border-radius: 20px;
    box-shadow: 2px 2px 5px 5px rgb(199, 199, 199);
    text-align: center;
    width: 200px;
    height: auto;
    margin-left: 45%;
    margin-top: 20px;
    padding: 20px;
}



.heading{
    display: flex ;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(170, 170, 170);
}


.heading img{
    width: auto;
    height: 70px;
    margin-right: 25%;
    
}
