<h2>LIST OF PRODUCTS AVAILABLE:</h2>

  <table>
    <tr >
      <th>S.NO</th>
      <th>PRODUCTS</th>
      <th>PRODUCT ID</th>
      <th>PRICE</th>
      <th>DISCOUNT %</th>
    </tr>
        <tr  *ngFor="let product of productname;let i =index">
          <td>{{[i+1]}}</td>
          <td>{{productname[i]}}</td>
          <td>{{productid[i]}}</td>
          <td>{{productprice[i]}}</td>
          <td>{{productdiscount[i]}}</td>
        </tr>
</table>
<div class="additemcontainer">
  <button (click)="additem()" class="additem">Add Item</button>
</div>

<div class="addnewitem" *ngIf="displayvalue==true">
  <p>PRODUCT NAME:<input type="text" [(ngModel)]="Productname"></p>
  <p>PRODUCT ID:<input type="number" [(ngModel)]="Productid"></p>
  <p>PRICE:<input type="number" [(ngModel)]="Productprice"></p>
  <p>DISCOUNT:<input type="text" [(ngModel)]="Productdiscount"></p>
  <button (click)="add()" class="add">+</button>
</div>