<div class="roller-container">
    <img src="assets\images\left-arrow.png" alt="">
    <div class="roller">

        <p>Curriculum</p>
        <p>Syllabus</p>
        <p>Pedagogy</p>
        <p>Assessment</p>
        <p>Blended </p>
        <p>MOOC</p>
        <p>LMS</p>
        <p>Syntax</p>
        <p>Semantics</p>
        <p>Data_Types</p>
        <p>Functional_Programming</p>
        <p>Framework</p>
        <p>API</p>
        <p>Version_Control</p>
        <p>Library</p>
        <p>Algorithm</p>
        <p>Accreditation</p>
        <p>E_learning</p>
        <p>Compiler</p>
        <p>Runtime_Environment</p>

    </div>
    <img src="assets\images\right-arrow.png" alt="">

</div>
