<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form1">
        <div class="formdiv">
        <form class="forms" >
            <input type="text" name="username" placeholder="enter the username" id="" ngModel required>
            <input type="email" name="email"  placeholder="enter the email" id="" ngModel required>
            <input type="password" name="password" placeholder="enter the password" id="" ngModel required>
            <input type="number" name="number" placeholder="enter the number" id="" ngModel required>
            <button value="submit" (click)="click()">submit</button>   
        </form>
    </div>
    </div>
    <div class="details">
    </div>
    
</body>
</html>
