<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form1">
        <div class="formdiv">
        <form class="forms" >
            <input type="text" name="username" placeholder="Enter your feedback" id=""  (input)="username.value" #username required>
            <button value="submit" (click)="click()">submit</button>   
        </form>
    </div>
    </div>
    <div class="details">
        <h2></h2>
    </div>
    
</body>
</html>
