<div class="container">
  <img src="assets/kamarajlogo.jfif" alt="">
  <div class="logincondition" *ngIf="state; else stafflogin">
  <div class="studentlogin">
    <h1>Kamaraj Digital Campus</h1>
    <input type="text" placeholder="RollNumber">
    <input type="date" placeholder="Date Of Birth">
    <button id="button1" (click)="onsubmit()">Sign in</button>
    <button id="button2" (click)="onclick()">Staff</button>
  </div>
</div>
  <p>All rights reserved copyright &copy; 2024,<br>Kamaraj College Of Engineering & Technology </p>
</div>
<ng-template #stafflogin>
  <div class="stafflogin">
    <h1>Staff Login</h1>
    <input type="text" placeholder="USERNAME">
    <input type="text" placeholder="PASSWORD">
    <span id="span"><input type="checkbox" id="checked"><span>Remember Me <a href="">Forget Password?</a></span></span>
    <button id="button1" (click)="onsubmit()">Sign in</button>
  </div>
</ng-template>
