 .container{
    height: 480px;
    width: 360px;
    border: 1px solid rgb(212, 212, 212);
    margin: 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
 }

 .heading{
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
 }
 .content{
    height: 100%;
    margin: 0px 10px;

 }

.container .heading p{
    margin: 2px;
 }

 #h2{
    font-weight: 900;
    font-size: larger;
    margin: 0px;
 }

 .heading img{
    height: 40%
 }

 .logo{
    height: 7%;
    
    display: flex;
    align-items: center;
 }

 .sub1{
    height:100%;
    display: flex;
    align-items: center;
    flex: 1;
    padding-inline-start: 10px;
 }

 img{
    height: 80%;
    padding: 0px 7px;
 }

 #menudot{
    height: 70%;
 }

 .videocontainer{
   overflow-y: scroll;
   position: absolute;
   height: 77%;
   
   
 }
 .videofragment{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 320px;
   overflow: hidden;
   gap: 5px;
   padding: 10px;
   
 }

 .videofragment:hover{
   background-color: rgb(220, 220, 235);
 }

 .videofragment iframe{
   border-radius: 10px;
 }
 
 #content{
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
 }
