<div class="container">
    <div class="heading">
        <ng-template #content>
            <div class="content" #content>
                <p id="h2">Mastering Angular 16: Build Powerf...
                </p>
                <p>procademy 35 / 196</p>
            </div>
        </ng-template>
        <div *ngTemplateOutlet="content"></div>
        <img src="assets/images/close.png" alt="">
    </div>
    <div class="logo">
        <div class="sub1">
            <img src="assets/images/repeat.png" alt="">
            <img src="assets/images/shuffle.png" alt="">
        </div>
        <img src="assets/images/menudot.png" alt="" id="menudot">
    </div>
    <div class="videocontainer">
        <ng-container *ngFor="let items of listitems;let i=index" id="ngcontainer">
        <div class="videofragment">  
            <p>{{i+1}}</p>
            <iframe height="60" width="100" id="frame" src="https://www.youtube.com/embed/X-vlp3XeJAY?feature=shared"
                [frameBorder]="0" ></iframe>
                <p id="content">{{listitems[i].content}}</p>
        </div>
    </ng-container>
    </div>
</div>

