.paragraph{
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    /* background: linear-gradient(to bottom,rgb(228, 240, 245),white); */
    padding: 20px;
    
}

.paragraph p{
    padding: 0;
    margin: 0px 40px;
}

.paragraph h2{
    padding: 0;
    margin-bottom: 30px;
    margin-top: 0px;
}

.homecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Getstarted{
    height: 60px;
    width: 150px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 18px;
    margin-left: 80px;

}

.basket{
    margin-bottom: 10px;
}

.Getstarted:hover{
    height: 60px;
    width: 150px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px; 
    font-size: 18px;

}

.footer{
    text-align: center;
    font-size: 18px;
   margin-top: 50px;
    margin-bottom: 0;
    box-shadow:  0px -5px 5px  rgb(211, 210, 210);
}