<h2>BILLING:</h2>
 <div class="container-main">
  <div  class="container">
    <div>
      <label for="input">Item ID:
  <input type="text" placeholder="enter the item id"  [(ngModel)]="Itemid">
</label>
<label for="input">Quantity:
  <input type="number" placeholder="enter the item quantity"[(ngModel)]="ItemQuantity">
</label>
  <button (click)="yes()" class="yes">Add more Items</button >
  <a routerLink="submit"><button class="proceed" (click)="submit()">Proceed</button></a>
</div>
  </div>
</div>